USE [master]
GO
/****** Object:  Database [SimpleNote]    Script Date: 6/15/2020 9:16:00 PM ******/
CREATE DATABASE [SimpleNote]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SimpleNote', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SimpleNote.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SimpleNote_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SimpleNote_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SimpleNote].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SimpleNote]
GO
/****** Object:  Table [dbo].[Note]    Script Date: 6/15/2020 9:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Note](
	[NoteId] [int] IDENTITY(1,1) NOT NULL,
	[NoteName] [nvarchar](max) NOT NULL,
	[NoteDateCreated] [datetime2](7) NOT NULL,
	[NoteContent] [ntext] NULL,
	[NoteContentStyle] [nvarchar](max) NULL,
	[NoteContentColor] [nvarchar](max) NULL,
	[NoteTag] [nvarchar](max) NULL,
 CONSTRAINT [PK_Note] PRIMARY KEY CLUSTERED 
(
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RemindNote]    Script Date: 6/15/2020 9:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RemindNote](
	[NoteId] [int] NOT NULL,
	[NoteDateReminded] [datetime2](7) NOT NULL,
	[NoteStatus] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_RemindNote] PRIMARY KEY CLUSTERED 
(
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrashNote]    Script Date: 6/15/2020 9:16:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrashNote](
	[NoteId] [int] NOT NULL,
	[NoteDateDeleted] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TrashNote] PRIMARY KEY CLUSTERED 
(
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RemindNote]  WITH CHECK ADD  CONSTRAINT [FK_RemindNote_Note] FOREIGN KEY([NoteId])
REFERENCES [dbo].[Note] ([NoteId])
GO
ALTER TABLE [dbo].[RemindNote] CHECK CONSTRAINT [FK_RemindNote_Note]
GO
ALTER TABLE [dbo].[TrashNote]  WITH CHECK ADD  CONSTRAINT [FK_TrashNote_Note] FOREIGN KEY([NoteId])
REFERENCES [dbo].[Note] ([NoteId])
GO
ALTER TABLE [dbo].[TrashNote] CHECK CONSTRAINT [FK_TrashNote_Note]
GO
USE [master]
GO
